.container{
	margin: 5px auto;
	width: 430px;
}
.form-group{
	margin: 3px;
}

.header {
	border: 1px solid black;
	font-size: 24pt;
	text-align: center;
	background-color: #b3bc20;
	display: block;
}
.login_form {
	border: 1px solid black;
	font-size: 16pt;
	text-align: center;
	background-color: #fce17e;
}
.color_change{
	border: 1px solid red;
}
.error{
	display: block;
	color: red;
}
.no_error{
	display: none;
}