.container{
	width: 900px;
	margin: 0 auto;
	background-color: #e7ffff;
	font-family: 'Quando', serif;
}
.header{
	height: 155px;
	font-family: Arial bold;
	font-size: 32pt;
	text-align: center;
	background-color: #e7ffff;
	border-bottom: 1px double black;
	margin-bottom: 20px;
}
#header-text{
	position: relative;
	top: 60px;
}
#image-left{
	margin-left: 60px;
	width: 150px;
	height: 150px;
	float: left;
}
#image-right{
	width: 150px;
	height: 150px;
	float: right;
	margin-right: 60px;
}
#nav{
	margin-bottom: 15px;
}
#nav:after{
	display: block;
	content: ".";
	height: 0;
	visibility: hidden;
	clear: both;
}
.block-menu{
	display: inline;
	float: left;
	margin-left: 22px;
	width: 400px;
}
.sub-header {
	width: 400px;
	font-family: Arial;
	font-size: 20pt;
	text-align: center;
	color: white;
	background-image: url("http://psdhunter.com/psds/4912-thumb-psd-carbon-fiber-pattern-background-graphic-web-backgrounds-pixeden.png");
	display: block-inline;
}
.menu {
	width: 400px;
	border: 1px solid black;
	font-family: Arial;
	font-size: 16px;
	text-align: center;
	display: block;
	background-image: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/egg_shell.png');
}

.header2{
	height: 50px;
	font-family: Arial bold;
	font-size: 32pt;
	text-align: center;
	margin-bottom: 20px;
	border-bottom: 1px double black;
}
.button{
	border: 1px solid black;
	background-image: url("http://psdhunter.com/psds/4912-thumb-psd-carbon-fiber-pattern-background-graphic-web-backgrounds-pixeden.png");
	text-align: center;
	font-size: 18px;
}
.text{
	text-align: center;
	font-size: 14px;
}
#img-center{
	margin: 5px;
	position: relative;
	left: 230px;
	height: 400px;
	width: 400px;
}
body{
	background-image: url("http://orig10.deviantart.net/1d94/f/2013/183/c/b/seamless_steel_brush_pattern_dark_by_shandya-d6br6z0.png");
}
#perepherals{
	float: left;
}
#hardware{
	float: left;
}

#calendar4 {

margin-left: 290px;
position: relative;
	top: -360px;
  width: 300px;
  height: 200px;
  font: monospace;
  line-height: 1.2em;
  font-size: 20px;
  text-align: center;
}
#calendar4 thead tr:last-child {
  font-size: 20px;
  font-weight: 700;
  color: rgb(103, 103, 103);
}
#calendar4 tbody td {
  color: rgb(44, 86, 122);
}
#calendar4 tbody td:nth-child(1) {
  font-size: 20px;
  color: rgba(103, 103, 103, .7);
}
#calendar4 tbody td:nth-child(n+7), #calendar4 .holiday {
  color: rgb(231, 140, 92);
}
#calendar4 tbody td.today {
  outline: 3px solid red;
}
footer{
	margin-top: 5px;
	border-top: 1px solid black;
}
a{
	color: #fff;
	text-decoration: none;
}
.menu a{
	color: black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
}
table:after{
	display: none;
}